***3. Do the Eda on this Dataset :Presidential Election Polls 2024 Dataset and extract useful information from
this:***

In [18]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

***# Load the CSV file into a DataFrame***

In [19]:
data = pd.read_csv('election2024.csv')
data

,id,sex,age,federal_district,type_of_city,knows_election_date,will_vote,candidate,television_usage,internet_usage,education,income,employment,job_type,company_type,weight1
0,07169ed8148ce047,male,18.0,north caucasian,village,named correct date,not sure,Putin,several times a week,over 4 hours a day,incomplete school education,very high,entrepreneur,NaN,farming,1.445172
1,0716a4f3354cecdd,male,23.0,north caucasian,village,named correct date,not sure,Putin,once half a year,over 4 hours a day,college,very high,work for hire,commercial organization,trade,1.445172
2,0716889b304ce79c,male,20.0,volga,city with population of less than 50k,named correct date,definitely yes,Putin,several times a week,over 4 hours a day,college,very high,work for hire,law enforcement agency,law enforcement agency,1.301691
3,07168e28b5cce563,male,22.0,northwestern,city with population of 1 million and higher,not sure or no answer,not sure,Davankov,several times a week,over 4 hours a day,college,very high,unemployed,NaN,NaN,1.538628
4,0716a563914ce549,male,21.0,southern,city with population of 1 million and higher,named correct date,definitely yes,Putin,does not watch,over 4 hours a day,bachelor degree,very high,employed student,commercial organization,"tech, programming, communications",1.967015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0716b23c2c0cee3a,male,61.0,central,settlement,named correct date,definitely no,will not take part,over 4 hours a day,less than 4 hours a day,bachelor degree,hard to say,unemployed pensioner,NaN,NaN,1.270761
1596,07168254d14ceb55,female,80.0,volga,village,named correct date,likely yes,struggle to answer,several times a week,does not use internet,college,hard to say,unemployed pensioner,NaN,NaN,0.921724
1597,071690f34d4ce164,female,76.0,northwestern,city with population of 50-100k,named correct date,definitely yes,Putin,does not watch,over 4 hours a day,bachelor degree,hard to say,unemployed pensioner,NaN,NaN,1.396691
1598,0716bfa9c48ce79a,female,74.0,central,city with population of less than 50k,not sure or no answer,definitely yes,Putin,over 4 hours a day,over 4 hours a day,academic degree,hard to say,employed pensioner,commercial organization,"industry, manufacturing",0.995849
1599,07168088318cef88,female,76.0,ural,village,named correct date,definitely yes,Putin,over 4 hours a day,over 4 hours a day,school,hard to say,unemployed pensioner,NaN,NaN,0.860836

***information about the dataset***

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1600 non-null   object
 1   sex                  1600 non-null   object
 2   age                  1600 non-null   float64
 3   federal_district     1600 non-null   object
 4   type_of_city         1600 non-null   object
 5   knows_election_date  1600 non-null   object
 6   will_vote            1600 non-null   object
 7   candidate            1600 non-null   object
 8   television_usage     1600 non-null   object
 9   internet_usage       1600 non-null   object
 10  education            1600 non-null   object
 11  income               1600 non-null   object
 12  employment           1600 non-null   object
 13  job_type             692 non-null    object
 14  company_type         879 non-null    object
 15  weight1              1600 non-null   float64
dtypes: float64(2), object(14)
memory usage: 200.1+ KB

***Finding Null Values in the dataset***

In [21]:
data.isna().sum()

id                       0
sex                      0
age                      0
federal_district         0
type_of_city             0
knows_election_date      0
will_vote                0
candidate                0
television_usage         0
internet_usage           0
education                0
income                   0
employment               0
job_type               908
company_type           721
weight1                  0
dtype: int64

In [22]:
data['company_type'].unique()

array(['farming', 'trade', 'law enforcement agency', nan,
       'tech, programming, communications', 'refused to answer',
       'industry, manufacturing', 'other',
       'housing and communal services', 'finances', 'education',
       'healthcare', 'state administration', 'culture, sports',
       'transportation, storage',
       'Сфера услуг, сервиса, бытового обслуживания Включает в том числе: Прачечная/химчистка, ремонт мебели, часов, ювелирны...',
       'catering, restaurants', 'construction, architecture',
       'hard to say', 'entertainment, tourism', 'social services',
       'media'], dtype=object)

In [23]:
mode_company_type = data['company_type'].mode()[0]
data['company_type'].fillna(mode_company_type, inplace=True)

C:\Users\mdaza\AppData\Local\Temp\ipykernel_32556\260311689.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['company_type'].fillna(mode_company_type, inplace=True)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1600 non-null   object
 1   sex                  1600 non-null   object
 2   age                  1600 non-null   float64
 3   federal_district     1600 non-null   object
 4   type_of_city         1600 non-null   object
 5   knows_election_date  1600 non-null   object
 6   will_vote            1600 non-null   object
 7   candidate            1600 non-null   object
 8   television_usage     1600 non-null   object
 9   internet_usage       1600 non-null   object
 10  education            1600 non-null   object
 11  income               1600 non-null   object
 12  employment           1600 non-null   object
 13  job_type             692 non-null    object
 14  company_type         1600 non-null   object
 15  weight1              1600 non-null   float64
dtypes: float64(2), object(14)
memory usage: 200.1+ KB

In [26]:
unique_job_types = data['job_type'].unique()
print(unique_job_types)

[nan 'commercial organization' 'law enforcement agency'
 'government agency' 'government, management, judicial bodies'
 'non-profit agency' 'hard to say']

In [27]:
mode_job_type = data['job_type'].mode()[0]

In [28]:
data['job_type'].fillna(mode_job_type, inplace=True)

In [29]:
print(data['job_type'].isna().sum())

0

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1600 non-null   object
 1   sex                  1600 non-null   object
 2   age                  1600 non-null   float64
 3   federal_district     1600 non-null   object
 4   type_of_city         1600 non-null   object
 5   knows_election_date  1600 non-null   object
 6   will_vote            1600 non-null   object
 7   candidate            1600 non-null   object
 8   television_usage     1600 non-null   object
 9   internet_usage       1600 non-null   object
 10  education            1600 non-null   object
 11  income               1600 non-null   object
 12  employment           1600 non-null   object
 13  job_type             1600 non-null   object
 14  company_type         1600 non-null   object
 15  weight1              1600 non-null   float64
dtypes: float64(2), object(14)
memory usage: 200.1+ KB

# Label Encoding

***To apply Label Encoding to all categorical columns in your dataset using Python, follow these steps:***

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
label_encoders = {}
categorical_columns = data.select_dtypes(include=['object']).columns

for column in categorical_columns:
    label_encoders[column] = LabelEncoder()
    data[column] = label_encoders[column].fit_transform(data[column])

In [36]:
data.head(5)

,id,sex,age,federal_district,type_of_city,knows_election_date,will_vote,candidate,television_usage,internet_usage,education,income,employment,job_type,company_type,weight1
0,1042,1,18.0,2,6,0,4,2,5,3,3,4,2,0,5,1.445172
1,1141,1,23.0,2,6,0,4,2,2,3,2,4,10,0,18,1.445172
2,670,1,20.0,7,4,0,1,2,5,3,2,4,10,4,11,1.301691
3,761,1,22.0,3,0,2,4,0,5,3,2,4,7,0,10,1.538628
4,1146,1,21.0,5,0,0,1,2,0,3,1,4,1,0,17,1.967015